@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
    @font-face {
        font-family: Rokh;
        src: url("./../public/fonts/Dirooz.ttf");
    }

    body {
        font-family: Rokh;
    }
}

@theme {
    --color-primary: #080317;
    --color-secondary : #6b559a;
    --breakpoint-sm: 320px
}

@layer components{
    .active{
        @apply rounded-r-[25px] bg-[#6b559a]
    }
    .menu{
        @apply hover:bg-[#6b559a] rounded-r-[25px] transition-colors
    }
    .btn{
        @apply border p-2 border-neutral-500 rounded-[10px] cursor-pointer
    }
    .swal-footer{
        @apply flex justify-center
    }
    .swal-content__input{
        @apply mt-2
    }
}